extends ./layout/layout

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Fusce fringilla posuere nunc sed porttitor. Phasellus interdum consectetur bibendum. Aliquam accumsan libero eu sem pharetra, quis facilisis magna finibus. Nulla rutrum, massa in lobortis gravida, neque diam elementum nisl, a malesuada augue lacus eget eros. Mauris blandit lacus vel bibendum rhoncus. Donec sit amet arcu sit amet leo porttitor commodo. Proin eros nunc, lobortis quis arcu id, consequat aliquet ante. Donec pellentesque orci vitae urna ornare vehicula. 

                p Donec tempor malesuada ligula in pharetra. Integer lobortis tincidunt pellentesque. Fusce bibendum semper lectus, commodo ultricies urna consectetur id. Donec in elit malesuada libero fringilla feugiat. Vestibulum vitae libero luctus, commodo sapien vel, semper ex. Vestibulum commodo nec est sed aliquam.

                p Proin ultricies purus quis est placerat, et faucibus neque placerat. Aliquam sodales odio tellus, in imperdiet lacus condimentum in. Morbi a dignissim orci. Quisque id risus nibh. Ut sit amet tortor lacus. Pellentesque volutpat, turpis at euismod finibus, augue odio ornare risus, sed fermentum neque arcu et justo. Fusce molestie pharetra elit, in vestibulum ligula sagittis nec.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Pellentesque volutpat, turpis at euismod finibus, augue odio ornare risus, sed fermentum neque arcu et justo. Fusce molestie pharetra elit, in vestibulum ligula sagittis nec.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Pellentesque volutpat, turpis at euismod finibus, augue odio ornare risus, sed fermentum neque arcu et justo. Fusce molestie pharetra elit, in vestibulum ligula sagittis nec.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Pellentesque volutpat, turpis at euismod finibus, augue odio ornare risus, sed fermentum neque arcu et justo. Fusce molestie pharetra elit, in vestibulum ligula sagittis nec.
                    
